<!-- ----- début fragmentPatrimoineMenu-->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="router2.php?action=CaveAccueil">HAOUAS Lena / SEFFAR Youssef</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
             aria-haspopup="true" aria-expanded="false">Banques <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="router2.php?action=getAllBanques">Liste des banques</a></li>
            <li><a href="router2.php?action=vinReadId&target=addBanque">Ajout d'une banque</a></li>
            <li><a href="router2.php?action=ListeComptes">Liste des comptes d'une banque</a></li>      
          </ul>
        </li> 
  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
             aria-haspopup="true" aria-expanded="false">Clients<span class="caret"></span></a>
          <ul class="dropdown-menu">  
            <li><a href="router2.php?action=getAllClients">Liste des clients</a></li>
            <li><a href="router2.php?action=getAllAdmins">Liste des administrateurs</a></li>
            <li><a href="router2.php?action=getAllComptes">Liste des comptes</a></li>
            <li><a href="router2.php?action=getAllResidences">Liste des résidences</a></li>
          </ul>
        </li> 
  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
             aria-haspopup="true" aria-expanded="false">RECOLTE <span class="caret"></span></a>
          <ul class="dropdown-menu">  
            <li><a href="router2.php?action=recolteReadAll">Liste des récoltes</a></li>
            <li><a href="router2.php?action=recolteCreate">Insertion d'une récolte</a></li>
            <li><a href="router2.php?action=x">Proposition 1 ?</a></li>
            <li><a href="router2.php?action=x">Proposition 2 ?</a></li>
  
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
             aria-haspopup="true" aria-expanded="false">Innovations <span class="caret"></span></a>
          <ul class="dropdown-menu">  
            <li><a href="router2.php?action=mesPropositions.php">Proposition d'amélioration</a></li>
          </ul>
        </li> 
  
      </ul>
    </div>
  </nav>
  
  <!-- ----- fin fragmentCaveMenu -->
  